[submodule "view/locale/en"]
	path = view/locale/en
	url = https://github.com/flarum/lang-english.git
[submodule "view/extensions/markdown"]
	path = view/extensions/markdown
	url = https://github.com/flarum/markdown.git
[submodule "view/extensions/diff"]
	path = view/extensions/diff
	url = https://github.com/the-turk/flarum-diff
[submodule "view/extensions/auth-github"]
	path = view/extensions/auth-github
	url = https://github.com/flarum/auth-github.git
[submodule "view/extensions/analytics"]
	path = view/extensions/analytics
	url = https://github.com/FriendsOfFlarum/analytics.git
[submodule "view/locale/zh"]
	path = view/locale/zh
	url = https://github.com/flarum-lang/chinese-simplified
[submodule "view/extensions/flarum-pipetables"]
	path = view/extensions/flarum-pipetables
	url = https://github.com/KevID/flarum-pipetables.git
[submodule "view/extensions/custom-footer"]
	path = view/extensions/custom-footer
	url = https://github.com/FriendsOfFlarum/custom-footer.git
[submodule "view/framework"]
	path = view/framework
	url = https://github.com/flarum/framework.git
[submodule "view/extensions/flarum-subscriptions"]
	path = view/extensions/flarum-subscriptions
	url = https://github.com/flarum/subscriptions
[submodule "view/extensions/flarum-sticky"]
	path = view/extensions/flarum-sticky
	url = https://github.com/flarum/sticky.git
[submodule "view/extensions/flarum-blog"]
	path = view/extensions/flarum-blog
	url = https://github.com/v17development/flarum-blog.git
