{{ define "content" }}

<div class="nav-title">
    <div class="float-left fs14">
        <a href="/">{{.SiteCf.Name}}</a> &raquo; {{.Cobj.Name}} ({{.Cobj.Articles}})
        {{if .CurrentUser.IsAdmin }}
        &nbsp;&nbsp;&nbsp; Hidden is {{.Cobj.Hidden}}• <a href="/admin/category/list?cid={{.Cobj.ID}}">编辑</a>
        {{end}}
    </div>
    {{if .CurrentUser.CanCreateTopic }}
    <div class="float-right"><a href="/newpost/{{.Cobj.ID}}" class="newpostbtn">+发新帖</a></div>
    {{end}}
    <div class="c"></div>
</div>

<div class="main-box home-box-list">

    {{if .Cobj.About}}
    <div class="post-list grey"><p>{{.Cobj.About}}</p></div>
    {{end}}

    {{range $_, $item := .PageInfo.Items}}
    <div class="post-list">
        <div class="item-avatar">
            <a href="/member/{{$item.UID}}"><img src="{{$item.Avatar}}" alt="{{$item.Name}}" /></a>
        </div>
        <div class="item-content">
            <h1><a href="/topic/{{$item.ID}}">{{$item.Title}}</a></h1>
            <span class="item-date"><a href="/node/{{$item.CID}}">{{$item.Cname}}</a>  •  <a href="/member/{{$item.UID}}">{{$item.Name}}</a>
                {{$item.ClickCnt}}次点击
                • {{$item.EditTimeFmt}}
                {{if $item.Comments}}
                 • 最后回复 <a href="/member/{{$item.Ruid}}">{{$item.Rname}}</a>
                {{end}}
            </span>
        </div>
        {{if $item.Comments}}
        <div class="item-count"><a href="/topic/{{$item.ID}}#reply{{$item.Comments}}">{{$item.Comments}}</a></div>
        {{end}}
        <div class="c"></div>
    </div>

    {{end}}


    <div class="pagination">
        {{if .PageInfo.HasPrev}}
        <a href="/node/{{.Cobj.ID}}?btn=prev&key={{.PageInfo.FirstKey}}&score={{.PageInfo.FirstScore}}&page={{.PageInfo.PagePrev}}" class="float-left">&laquo; 上一页</a>
        {{end}}
        {{if .PageInfo.HasNext}}
        <a href="/node/{{.Cobj.ID}}?btn=next&key={{.PageInfo.LastKey}}&score={{.PageInfo.LastScore}}&page={{.PageInfo.PageNext}}" class="float-right">下一页 &raquo;</a>
        {{end}}
        <div class="c"></div>
    </div>

</div>

{{end}}

