{{ define "content" }}

<div class="nav-title">
    <div class="float-left fs14">
        <a href="/">{{.SiteCf.Name}}</a>
    </div>
    {{if .CurrentUser.CanCreateTopic }}
    <div class="float-right"><a href="/newpost/1" class="newpostbtn">+发新帖</a></div>
    {{end}}
    <div class="c"></div>
</div>

<div class="main-box home-box-list">

    {{range $_, $item := .PageInfo.Items}}
    <div class="post-list">

        {{ if $item.UID }}
        <div class="item-avatar">
            <a href="/member/{{$item.UID}}">
            <img src="{{$item.Avatar}}" alt="{{$item.Name}}" />
            </a>
        </div>
        {{ else }}
         <div class="item-avatar">
            <a href="/member/{{$item.UID}}">
                <img src="{{$item.Avatar}}" alt="{{$item.Name}}" />
            </a>
        </div>
        {{ end }}

        <div class="item-content">
            <h1><a href="/topic/{{$item.ID}}">{{$item.Title}}</a></h1>
            <span class="item-date">

                 • 点击数 {{$item.ClickCnt}}
                 {{ if $item.Cname }}
                <a href="/node/{{$item.CID}}">
                    {{$item.Cname}}</a>  •  <a href="/member/{{$item.UID}}">{{$item.Name}}</a>
                {{ end }}

                {{ if $item.EditTimeFmt }}
                • {{$item.EditTimeFmt}}
                {{ end }}

                {{if $item.Comments}}
                 • 最后回复 <a href="/member/{{$item.Ruid}}">{{$item.Rname}}</a>
                {{end}}
            </span>
        </div>
        {{if $item.Comments}}
        <div class="item-count"><a href="/topic/{{$item.ID}}#reply{{$item.Comments}}">{{$item.Comments}}</a></div>
        {{end}}
        <div class="c"></div>
    </div>

    {{end}}


    <div class="pagination">
        {{if .PageInfo.HasPrev}}
        <a href="/?btn=prev&key={{.PageInfo.FirstKey}}&score={{.PageInfo.FirstScore}}" class="float-left">&laquo; 上一页</a>
        {{end}}
        {{if .PageInfo.HasNext}}
        <a href="/?btn=next&key={{.PageInfo.LastKey}}&score={{.PageInfo.LastScore}}" class="float-right">下一页 &raquo;</a>
        {{end}}
        <div class="c"></div>
    </div>

</div>

{{ end}}

