{{ define "content" }}

<div class="nav-title">
    <a href="/">{{.SiteCf.Name}}</a> &raquo; 搜索：{{.Q}} ({{len .PageInfo.Items}}/{{.SiteCf.PageShowNum}})
</div>

<div class="main-box home-box-list">

    {{range $_, $item := .PageInfo.Items}}
    <div class="post-list">
        <div class="item-avatar">
            <a href="/member/{{$item.UID}}"><img src="{{$item.Avatar}}" alt="{{$item.Name}}" /></a>
        </div>
        <div class="item-content">
            <h1><a href="/topic/{{$item.ID}}">{{$item.Title}}</a></h1>
            <!-- <span> -->
            <div>
            关键字: {{ $item.HighlightContent }}
            </div>
            <!-- </span> -->
            <span class="item-date"><a href="/node/{{$item.CID}}">{{$item.Cname}}</a>  •  <a href="/member/{{$item.UID}}">{{$item.Name}}</a>
                • {{$item.EditTimeFmt}}
                {{if $item.Comments}}
                 • 最后回复 <a href="/member/{{$item.Ruid}}">{{$item.Rname}}</a>
                {{end}}
            </span>
        </div>
        {{if $item.Comments}}
        <div class="item-count"><a href="/topic/{{$item.ID}}#reply{{$item.Comments}}">{{$item.Comments}}</a></div>
        {{end}}
        <div class="c"></div>
    </div>

    {{end}}

    <div class="pagination">
        {{if .PageInfo.HasPrev}}
        <a href="/search?q={{.Q}}&pagenum={{.PageInfo.PageNum}}&btn=prev" class="float-left">&laquo; 上一页</a>
        {{end}}
        {{if .PageInfo.HasNext}}
        <a href="/search?q={{.Q}}&pagenum={{.PageInfo.PageNum}}&&btn=next" class="float-right">下一页 &raquo;</a>
        {{end}}
        <div class="c"></div>
    </div>
</div>



{{ end}}

