{{ define "flarum-content" }}

<div class="container">
  {{/* <h2>All Discussions</h2>
  <ul>
    <li>
      <a href="https://flarum.yjzq.fun/d/1">
        这是一个新的主题
      </a>
    </li>
  </ul> */}}
</div>



<h2>All Discussions</h2>

<ul>
  {{range $_, $item := .PageInfo.Items}}
  <li>
    <a href="/d/{{$item.ID}}" id="{{$item.ID}}">{{$item.Title}}</a>
  </li>
  {{end}}
</ul>

{{/*
  @if (isset($apiDocument->links->prev))
    <a href="{{ $url->to('forum')->route('index') }}?page={{ $page - 1 }}">&laquo;
  {{ $translator->trans('core.views.index.previous_page_button') }}</a>
  @endif
*/}}

{{/*
  @if (isset($apiDocument->links->next))
    <a href="{{ $url->to('forum')->route('index') }}?page={{ $page + 1 }}">{{ $translator->trans('core.views.index.next_page_button') }}
  &raquo;</a>
  @endif
*/}}
</div>
{{ end }}