{{ define "flarum" }}

<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{.SiteCf.Name}}</title>
  <link rel="stylesheet" href="{{.SiteCf.CDNBaseURL}}/static/flarum/{{.FlarumJSPrefix}}.css">
  <link rel="canonical" href="{{.SiteCf.MainDomain}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <meta name="description" content="">
  <meta name="theme-color" content="#4D698E">
  {{/* <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"> */}}

  {{ template "gtag" . }}
  {{/* {{ template "header" . }} */}}
  {{range $_, $item := .PluginHTML }}
    {{ safeHTML $item }}
  {{end}}
</head>

{{ template "layout" . }}

<div id="modal"></div>
<div id="alerts"></div>

<script>
  document.getElementById('flarum-loading').style.display = 'block';
  var flarum = { extensions: {} };
</script>

{{/* {{ template "js" . }} */}}
<script src="{{.SiteCf.CDNBaseURL}}/static/flarum/{{.FlarumJSPrefix}}.js"></script>
<script>
  flarum.core.app = window.flarum_core_app;
  flarum.core.compat = window.flarum_core_compat;
</script>
<script src="{{.SiteCf.CDNBaseURL}}/static/flarum/{{.FlarumJSPrefix}}_ext.js"></script>
<script src="/locale/{{ .FlarumInfo.Locale }}/flarum-lang.js"></script>

<script>
  document.getElementById('flarum-loading').style.display = 'none';

  try {
    let data = {{ marshal .FlarumInfo }};
    console.log("Get flarum data", data);
    flarum.core.app.load(data);
    flarum.core.app.bootExtensions(flarum.extensions);
    flarum.core.app.boot();
  } catch (e) {
    var error = document.getElementById('flarum-loading-error');
    error.innerHTML += document.getElementById('flarum-content').textContent;
    error.style.display = 'block';
    throw e;
  }
</script>



{{/* {{ template "foot" . }} */}}

</html>

{{ end }}

{{ define "layout" }}
{{/* {!! array_get($forum, 'headerHtml') !!} */}}

<div id="app" class="App">
  <div id="app-navigation" class="App-navigation"></div>
  <div id="drawer" class="App-drawer">
    <header id="header" class="App-header navbar-fixed-top">
      <div id="header-navigation" class="Header-navigation"></div>
      <div class="container">
        <h1 class="Header-title">
          <a href="{{.SiteCf.MainDomain}}" id="home-link">{{.SiteCf.Name}}</a>
          {{/*
            <a href="{{ array_get($forum, 'baseUrl') }}" id="home-link">
              @if ($logo = array_get($forum, 'logoUrl'))
              <img src="{{ $logo }}" alt="{{ array_get($forum, 'title') }}" class="Header-logo">
              @else
              {{ array_get($forum, 'title') }}
              @endif
            </a>
          */}}
        </h1>
        <div id="header-primary" class="Header-primary"></div>
        <div id="header-secondary" class="Header-secondary"></div>
      </div>
    </header>

  </div>

  <main class="App-content">
    {{if .IsInAdmin}}
    {{ template "admin-nav"}}
    <div id="content" class="sideNavOffset"></div>
    {{else}}

    <div id="content"></div>
    {{end}}

    {{ template "main-content" . }}

    <div class="App-composer">
      <div class="container">
        <div id="composer"></div>
      </div>
    </div>
  </main>
</div>

{{/* {!! array_get($forum, 'footerHtml') !!} */}}
{{end }}

{{ define "main-content" }}
<div id="flarum-loading" style="display: none">
  {{/* TODO: #7 {{ $translator->trans('core.views.content.loading_text') }} */}}
  Loading...
</div>

<noscript>
  <div class="Alert">
    <div class="container">
      {{/* TODO: #7 {{ $translator->trans('core.views.content.javascript_disabled_message') }} */}}
      This site is best viewed in a modern browser with JavaScript enabled.
    </div>
  </div>
</noscript>

<div id="flarum-loading-error" style="display: none">
  <div class="Alert">
    <div class="container">
      {{/* TODO: #7 {{ $translator->trans('core.views.content.load_error_message') }} */}}
      Something went wrong while trying to load the full version of this site. Try hard-refreshing this page to fix the
      error.
    </div>
  </div>
</div>

<noscript id="flarum-content">
  {{ template "flarum-content" . }}
</noscript>
{{ end }}

{{ define "admin-nav" }}
{{ end }}

{{ define "gtag" }}
{{if .SiteCf.TrackingCodeID }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{.SiteCf.TrackingCodeID}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{.SiteCf.TrackingCodeID}}');
</script>
{{end}}
{{ end }}