{{ define "content" }}

<div class="nav-title">
    <a href="/">{{.SiteCf.Name}}</a> &raquo; 会员：{{.Uobj.Name}}
</div>

<div class="main-box">
    <div class="member-avatar"><img src="{{.Uobj.Avatar}}" alt="{{.Uobj.Name}}" /></div>
    <div class="member-detail">
        <p>会员：<strong>{{.Uobj.Name}}</strong> (第{{.Uobj.ID}}号会员，{{.Uobj.RegTimeFmt}}加入)
            {{if .CurrentUser.IsAdmin }}
            &nbsp;&nbsp;&nbsp; • ({{.Uobj.Flag}}) <a href="/admin/user/edit/{{.Uobj.ID}}">编辑</a>
            {{end}}
        </p>
        <p>主贴： {{.Uobj.Articles}}  &nbsp;&nbsp;&nbsp; 回贴： {{.Uobj.Replies}}</p>
        <p>网站： <a href="{{.Uobj.URL}}" target="_blank" rel="nofollow">{{.Uobj.URL}}</a></p>
        <p>关于： <br/> {{.Uobj.About}}</p>
    </div>
    <div class="c"></div>
</div>


<div class="nav-title">
    {{.Uobj.Name}} <a href="?act=post">最近发表的帖子</a> | <a href="?act=reply">最近回复的帖子</a>
</div>

<div class="main-box home-box-list">

    {{range $_, $item := .PageInfo.Items}}
    <div class="post-list">
        <div class="item-avatar">
            <a href="/member/{{$item.UID}}"><img src="{{$item.Avatar}}" alt="{{$item.Name}}" /></a>
        </div>
        <div class="item-content">
            <h1><a href="/topic/{{$item.ID}}">{{$item.Title}}</a></h1>
            <span class="item-date">
                <a href="/node/{{$item.CID}}">{{$item.Cname}}</a>
                • {{$item.EditTimeFmt}}
                {{if $item.Comments}}
                • <a href="/member/{{$item.Ruid}}">{{$item.Rname}}</a>
                {{else}}
                • <a href="/member/{{$item.UID}}">{{$item.Name}}</a>
                {{end}}
            </span>
        </div>
        {{if $item.Comments}}
        <div class="item-count"><a href="/topic/{{$item.ID}}#reply{{$item.Comments}}">{{$item.Comments}}</a></div>
        {{end}}
        <div class="c"></div>
    </div>

    {{end}}

    <div class="pagination">
        {{if .PageInfo.HasPrev}}
        <a href="/member/{{.Uobj.ID}}?act={{.Act}}&btn=prev&key={{.PageInfo.FirstKey}}&score={{.PageInfo.FirstScore}}" class="float-left">&laquo; 上一页</a>
        {{end}}
        {{if .PageInfo.HasNext}}
        <a href="/member/{{.Uobj.ID}}?act={{.Act}}&btn=next&key={{.PageInfo.LastKey}}&score={{.PageInfo.LastScore}}" class="float-right">下一页 &raquo;</a>
        {{end}}
        <div class="c"></div>
    </div>

</div>



{{ end}}

